.centers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px 30px;
  padding-bottom: 120px;
  width: 1520px;
  margin: 0 auto;

  @media (max-width: (@desktop-large - 1)) {
    width: 1080px;
  }

  @media (max-width: (@desktop - 1)) {
    gap: 40px 30px;
    width: 860px;
    padding-bottom: 80px;
  }

  @media (max-width: (@tablet-large - 1)) {
    width: 660px;
  }

  @media (max-width: (@tablet - 1)) {
    row-gap: 18px;
    width: 327px;
  }
}

.centers__img-wrapper {
  img {
    width: 745px;
    height: 448px;
  }

  &--first {
    order: -1;

    img {
      height: 478px;
    }
  }

  @media (max-width: (@desktop-large - 1)) {
    img {
      width: 525px;
      height: 487px;
      object-fit: cover;
    }

    &--first {
      img {
        width: 525px;
        height: 537px;
      }
    }
  }

  @media (max-width: (@desktop - 1)) {
    img {
      width: 265px;
      height: 191px;
    }

    &--first {
      order: 0;
    }
  }

  @media (max-width: (@tablet-large - 1)) {
    img {
      width: 197px;
      height: 141px;
    }
  }

  @media (max-width: (@tablet - 1)) {
    img {
      width: 327px;
      height: 234px;
    }
  }
}

.centers__wrapper {
  width: 745px;
  align-self: flex-start;

  p {
    margin: 0;
    margin-bottom: 40px;

    &:first-of-type {
      margin-bottom: 32px;
    }
  }

  @media (max-width: (@desktop-large - 1)) {
    width: 525px;

    p {
      font-size: 18px;
      line-height: 140%;
    }
  }

  @media (max-width: (@desktop - 1)) {
    width: 850px;

    p {
      font-size: 14px;
      margin-bottom: 32px;

      &:first-of-type {
        margin-bottom: 26px;
      }
    }
  }

  @media (max-width: (@tablet-large - 1)) {
    width: 650px;
  }

  @media (max-width: (@tablet - 1)) {
    width: 327px;

    p {
      margin-bottom: 24px;
    }
  }
}

.centers__title {
  margin: 0;
  margin-bottom: 60px;
  line-height: 100%;
  font-weight: 800;
  font-size: 60px;

  @media (max-width: (@desktop-large - 1)) {
    font-size: 50px;
  }

  @media (max-width: (@desktop - 1)) {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: (@tablet - 1)) {
    font-size: 26px;
    text-align: center;
    margin-bottom: 33px;
  }
}

.centers__link {
  display: inline-block;
  text-decoration: none;
  color: @black;
  padding: 17px 40px;
  font-size: 18px;
  line-height: 120%;
  border: 2px solid @black;
  border-radius: 30px;

  &:hover,
  &:active {
    border-color: @orange;
    color: @orange;
  }

  @media (max-width: (@desktop-large - 1)) {
    font-size: 15px;
    padding: 14px 40px;
  }

  @media (max-width: (@desktop - 1)) {
    padding: 15px 30px;
    font-size: 14px;
  }

  @media (max-width: (@tablet - 1)) {
    min-width: 327px;
    text-align: center;
    margin-bottom: 13px;
  }
}
